ingest-blob-cosmosdb-rag/workflow.json
{
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Chunk_text": {
                "type": "ChunkText",
                "inputs": {
                    "chunkingStrategy": "TokenSize",
                    "text": "@body('Parse_a_document')?['text']",
                    "EncodingModel": "cl100k_base",
                    "PageOverlapLength": 100,
                    "TokenSize": 512
                },
                "runAfter": {
                    "Parse_a_document": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_multiple_embeddings": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "deploymentId": "@parameters('OpenAI_TextEmbedding_Deployment_#workflowname#')",
                        "input": "@take(body('Chunk_text')?['value'], length(body('Chunk_text')['value']))"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "aoai-connection_#workflowname#",
                        "operationId": "getArrayEmbeddings",
                        "serviceProviderId": "/serviceProviders/openai"
                    }
                },
                "runAfter": {
                    "Chunk_text": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_a_document": {
                "type": "ParseDocument",
                "inputs": {
                    "content": "@body('Read_blob_content')?['content']"
                },
                "runAfter": {
                    "Read_blob_content": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Read_blob_content": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "@parameters('Blob_Path_pdf_ingestion_#workflowname#')",
                        "blobName": "@triggerBody()?['name']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "blob-connection_#workflowname#",
                        "operationId": "readBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {}
            },
            "Select_embeddings_and_map_to_CosmosDB": {
                "type": "Select",
                "inputs": {
                    "from": "@range(0, length(body('Chunk_text')['value']))\r\n",
                    "select": {
                        "@{parameters('CosmosDB_textpath')}": "@body('Chunk_text')['value'][item()]",
                        "documentName": "@triggerBody()?['name']",
                        "@{parameters('CosmosDB_vectorpath')}": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                        "sourceFile": "@triggerBody()?['name']",
                        "fileType": "@slice(triggerBody()?['name'],-3)",
                        "id": "@guid()",
                        "chunkNumber": "@add(item(),1)",
                        "totalChunks": "@ length(body('Chunk_text')['value'])"
                    }
                },
                "runAfter": {
                    "Get_multiple_embeddings": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Create_or_update_many_items_in_bulk": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "@parameters('CosmosDB_database_#workflowname#')",
                        "containerId": "@parameters('CosmosDB_collection_#workflowname#')",
                        "items": "@body('Select_embeddings_and_map_to_CosmosDB')",
                        "isUpsert": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "cosmosdb-connection_#workflowname#",
                        "operationId": "BulkCreateOrUpdateDocument",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Select_embeddings_and_map_to_CosmosDB": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_blob_is_added_or_updated": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "@parameters('Blob_Path_pdf_ingestion_#workflowname#')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob_#workflowname#",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "conditions": []
            }
        }
}