ingest-document-sharepoint-openai-cosmos/default/workflow.json
{
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Chunk_text": {
                "type": "ChunkText",
                "inputs": {
                    "chunkingStrategy": "TokenSize",
                    "text": "@body('Parse_a_document')?['text']",
                    "EncodingModel": "cl100k_base",
                    "PageOverlapLength": 100,
                    "TokenSize": 512
                },
                "runAfter": {
                    "Parse_a_document": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_multiple_embeddings": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "deploymentId": "@parameters('OpenAI_TextEmbedding_Deployment_#workflowname#')",
                        "input": "@take(body('Chunk_text')?['value'], length(body('Chunk_text')['value']))"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "aoai-connection_#workflowname#",
                        "operationId": "getArrayEmbeddings",
                        "serviceProviderId": "/serviceProviders/openai"
                    },
                    "retryPolicy": {
                        "type": "fixed",
                        "count": 3,
                        "interval": "PT5S"
                    }
                },
                "runAfter": {
                    "Chunk_text": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_a_document": {
                "type": "ParseDocument",
                "inputs": {
                    "content": "@body('Get_file_content')"
                },
                "runAfter": {
                    "Get_file_content": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_file_content": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline_#workflowname#"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://microsoft.sharepoint.com/teams/DocumentDB'))}/files/@{encodeURIComponent(triggerBody()?['{Identifier}'])}/content",
                    "queries": {
                        "inferContentType": true
                    }
                },
                "runAfter": {}
            },
            "Select_embeddings_and_map_to_CosmosDB": {
                "type": "Select",
                "inputs": {
                    "from": "@range(0, length(body('Chunk_text')['value']))\r\n",
                    "select": {
                        "@{parameters('CosmosDB_Text_Path_#workflowname#')}": "@{body('Chunk_text')['value'][item()]}",
                        "documentName": "@{triggerBody()?['{FilenameWithExtension}']}",
                        "@{parameters('CosmosDB_Vector_Path_#workflowname#')}": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                        "fileLink": "@{triggerBody()?['{Link}']}",
                        "id": "@{guid()}",
                        "chunkNumber": "@{add(item(),1)}",
                        "totalChunks": "@{ length(body('Chunk_text')['value'])}"
                    }
                },
                "runAfter": {
                    "Get_multiple_embeddings": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each": {
                "type": "foreach",
                "foreach": "@outputs('Select_embeddings_and_map_to_CosmosDB')['body']",
                "actions": {
                    "Create_or_update_document_(V3)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "cosmosdb-connection_#workflowname#"
                                }
                            },
                            "method": "post",
                            "body": "@items('For_each')",
                            "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('CosmosDB_Account_#workflowname#'))}/dbs/@{encodeURIComponent(parameters('CosmosDB_Database_#workflowname#'))}/colls/@{encodeURIComponent(parameters('CosmosDB_Collection_#workflowname#'))}/docs"
                        }
                    }
                },
                "runAfter": {
                    "Select_embeddings_and_map_to_CosmosDB": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_file_is_created_(properties_only)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline_#workflowname#"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('Sharepoint_Site_Address_#workflowname#')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('Sharepoint_Library_Name_#workflowname#')))}/onnewfileitems",
                    "queries": {
                        "folderPath": "@parameters('SharePoint_Folder_Path_#workflowname#')"
                    }
                },
                "recurrence": {
                    "interval": 1,
                    "frequency": "Hour"
                },
                "splitOn": "@triggerBody()?['value']"
            }
        }

}