SAP-BAPI-GoodsMovementCreate/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Success_Response": {
                        "inputs": {
                            "body": "@body('[RFC]_Call_function_in_SAP')?['content']?['GOODSMVT_HEADRET']",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "statusCode": 200
                        },
                        "kind": "Http",
                        "runAfter": {
                            "[BAPI]_Commit_transaction": [
                                "SUCCEEDED"
                            ]
                        },
                        "type": "Response"
                    },
                    "[BAPI]_Commit_transaction": {
                        "inputs": {
                            "parameters": {
                                "closeSession": true,
                                "sessionId": "@body('[BAPI_-_RFC]_Create_stateful_session')?['sessionId']",
                                "wait": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "sap",
                                "operationId": "bapiCommit",
                                "serviceProviderId": "/serviceProviders/sap"
                            }
                        },
                        "type": "ServiceProvider"
                    }
                },
                "else": {
                    "actions": {
                        "Failure_Response": {
                            "inputs": {
                                "body": "@body('[RFC]_Call_function_in_SAP')?['content']?['RETURN']",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "statusCode": 400
                            },
                            "kind": "Http",
                            "runAfter": {
                                "[BAPI]_Roll_back_transaction": [
                                    "SUCCEEDED"
                                ]
                            },
                            "type": "Response"
                        },
                        "[BAPI]_Roll_back_transaction": {
                            "inputs": {
                                "parameters": {
                                    "closeSession": true,
                                    "sessionId": "@body('[BAPI_-_RFC]_Create_stateful_session')?['sessionId']"
                                },
                                "serviceProviderConfiguration": {
                                    "connectionName": "sap",
                                    "operationId": "bapiRollback",
                                    "serviceProviderId": "/serviceProviders/sap"
                                }
                            },
                            "type": "ServiceProvider"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@length(body('[RFC]_Call_function_in_SAP')?['content']?['RETURN'])",
                                0
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "[RFC]_Call_function_in_SAP": [
                        "SUCCEEDED"
                    ]
                },
                "type": "If"
            },
            "[BAPI_-_RFC]_Create_stateful_session": {
                "inputs": {
                    "serviceProviderConfiguration": {
                        "connectionName": "sap",
                        "operationId": "createSession",
                        "serviceProviderId": "/serviceProviders/sap"
                    }
                },
                "runAfter": {},
                "type": "ServiceProvider"
            },
            "[RFC]_Call_function_in_SAP": {
                "inputs": {
                    "parameters": {
                        "autoCommit": false,
                        "body": "@triggerBody()",
                        "inputBodyType": "XML",
                        "outputBodyType": "JSON",
                        "rfcName": "BAPI_GOODSMVT_CREATE",
                        "sessionId": "@body('[BAPI_-_RFC]_Create_stateful_session')?['sessionId']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sap",
                        "operationId": "callRfc",
                        "serviceProviderId": "/serviceProviders/sap"
                    }
                },
                "runAfter": {
                    "[BAPI_-_RFC]_Create_stateful_session": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateless"
}