ExampleTemplate/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Append_to_array_variable": {
                "inputs": {
                    "name": "v1",
                    "value": 3
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                },
                "type": "AppendToArrayVariable"
            },
            "Append_to_string_variable": {
                "inputs": {
                    "name": "v2",
                    "value": "chromium"
                },
                "runAfter": {
                    "Initialize_variable_1": [
                        "SUCCEEDED"
                    ]
                },
                "type": "AppendToStringVariable"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "v1",
                            "type": "array",
                            "value": [
                                1,
                                2
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_1": {
                "inputs": {
                    "variables": [
                        {
                            "name": "v2",
                            "type": "string",
                            "value": "foo"
                        }
                    ]
                },
                "runAfter": {
                    "Append_to_array_variable": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@{variables('v1')}@{variables('v2')}",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Append_to_string_variable": [
                        "SUCCEEDED"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}