AI-RAG-for-Images/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
        "Below_are_sample_questions": {
            "inputs": "Here are some example questions that you can ask, based on the purchase order image. You can use this pattern and pass questions as parameters to make this more dynamic. \n\nMake sure the deployment model supports [image and vision requests](https://go.microsoft.com/fwlink/?linkid=2282600).",
            "runAfter": {
                "Get_file_content_which_has_image_using_path": [
                    "SUCCEEDED"
                ]
            },
            "type": "Compose"
        },
        "Get_chat_completions": {
            "description": "",
            "inputs": {
                "parameters": {
                    "deploymentId": "@parameters('AzureOpenAI_deployment_model_vision_#workflowname#')",
                    "max_tokens": 500,
                    "messages": [
                        {
                            "message": "Tell me the purchase order number",
                            "role": "user",
                            "user": "bryan"
                        },
                        {
                            "image": "@body('Get_file_content_which_has_image_using_path')",
                            "role": "user",
                            "user": "bryan"
                        },
                        {
                            "message": "You are an AI assistant that helps people find information.",
                            "role": "system"
                        }
                    ],
                    "temperature": 1
                },
                "serviceProviderConfiguration": {
                    "connectionName": "Openai_#workflowname#",
                    "operationId": "getChatCompletions",
                    "serviceProviderId": "/serviceProviders/openai"
                }
            },
            "runAfter": {
                "Below_are_sample_questions": [
                    "SUCCEEDED"
                ]
            },
            "type": "ServiceProvider"
        },
        "Get_chat_completions-2": {
            "inputs": {
                "parameters": {
                    "deploymentId": "@parameters('AzureOpenAI_deployment_model_vision_#workflowname#')",
                    "max_tokens": 500,
                    "messages": [
                        {
                            "message": "How many notebooks are in this order?",
                            "role": "user",
                            "user": "bryan"
                        },
                        {
                            "image": "@body('Get_file_content_which_has_image_using_path')",
                            "role": "user",
                            "user": "bryan"
                        },
                        {
                            "message": "You are an AI assistant that helps people find information.",
                            "role": "system"
                        }
                    ],
                    "temperature": 1
                },
                "serviceProviderConfiguration": {
                    "connectionName": "Openai_#workflowname#",
                    "operationId": "getChatCompletions",
                    "serviceProviderId": "/serviceProviders/openai"
                }
            },
            "runAfter": {
                "Below_are_sample_questions": [
                    "SUCCEEDED"
                ]
            },
            "type": "ServiceProvider"
        },
        "Get_chat_completions-3": {
            "inputs": {
                "parameters": {
                    "deploymentId": "@parameters('AzureOpenAI_deployment_model_vision_#workflowname#')",
                    "max_tokens": 500,
                    "messages": [
                        {
                            "message": "What is the total cost of notebooks and staplers. Also, how much is the tax?",
                            "role": "user",
                            "user": "bryan"
                        },
                        {
                            "image": "@body('Get_file_content_which_has_image_using_path')",
                            "role": "user",
                            "user": "bryan"
                        },
                        {
                            "message": "You are an AI assistant that helps people find information.",
                            "role": "system"
                        }
                    ],
                    "temperature": 1
                },
                "serviceProviderConfiguration": {
                    "connectionName": "Openai_#workflowname#",
                    "operationId": "getChatCompletions",
                    "serviceProviderId": "/serviceProviders/openai"
                }
            },
            "runAfter": {
                "Below_are_sample_questions": [
                    "SUCCEEDED"
                ]
            },
            "type": "ServiceProvider"
        },
        "Get_file_content_which_has_image_using_path": {
            "description": "Get the image. Use any connector here to get the image.",
            "inputs": {
                "parameters": {
                    "fileId": "/PurchaseOrder.png",
                    "inferContentType": true
                },
                "serviceProviderConfiguration": {
                    "connectionName": "AzureFile_#workflowname#",
                    "operationId": "getFileContentByPath",
                    "serviceProviderId": "/serviceProviders/AzureFile"
                }
            },
            "runAfter": {},
            "type": "ServiceProvider"
        }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
        "When_a_HTTP_request_is_received": {
            "kind": "Http",
            "type": "Request"
        }
    }
}
