ingest-doc-sharepoint-document-intelligence-cosmos/default/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_multiple_embeddings": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "deploymentId": "@parameters('OpenAI_TextEmbedding_Deployment')",
                        "input": "@take(body('Chunk_text')?['value'], length(body('Chunk_text')['value']))"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "openai-1",
                        "operationId": "getArrayEmbeddings",
                        "serviceProviderId": "/serviceProviders/openai"
                    },
                    "retryPolicy": {
                        "type": "fixed",
                        "count": 3,
                        "interval": "PT5S"
                    }
                },
                "runAfter": {
                    "Chunk_text": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Select_embeddings_and_map_to_CosmosDB": {
                "type": "Select",
                "inputs": {
                    "from": "@range(0, length(body('Chunk_text')['value']))\r\n",
                    "select": {
                        "@{parameters('CosmosDB_Text_Path')}": "@{body('Chunk_text')['value'][item()]}",
                        "documentName": "@{triggerBody()?['{FilenameWithExtension}']}",
                        "@{parameters('CosmosDB_Vector_Path')}": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                        "fileLink": "@{triggerBody()?['{Link}']}",
                        "id": "@{guid()}",
                        "chunkNumber": "@{add(item(),1)}",
                        "totalChunks": "@{ length(body('Chunk_text')['value'])}"
                    }
                },
                "runAfter": {
                    "Get_multiple_embeddings": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_file_content": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://microsoft.sharepoint.com/teams/DocumentDB'))}/files/@{encodeURIComponent(triggerBody()?['{Identifier}'])}/content",
                    "queries": {
                        "inferContentType": false
                    }
                },
                "runAfter": {}
            },
            "Chunk_text": {
                "type": "ChunkText",
                "inputs": {
                    "chunkingStrategy": "TokenSize",
                    "text": "@body('Analyze_Document_for_Prebuilt_or_Custom_models_(v4.x_API)_1')?['analyzeResult']?['content']",
                    "EncodingModel": "cl100k_base",
                    "TokenSize": 5000,
                    "PageOverlapLength": 200
                },
                "runAfter": {
                    "Analyze_Document_for_Prebuilt_or_Custom_models_(v4.x_API)_1": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Analyze_Document_for_Prebuilt_or_Custom_models_(v4.x_API)_1": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "formrecognizer"
                        }
                    },
                    "method": "post",
                    "body": "@body('Get_file_content')",
                    "path": "/connectorinternaldocumentintelligence/documentModels/@{encodeURIComponent('prebuilt-read')}:analyze",
                    "queries": {
                        "api-version": "2024-11-30",
                        "outputContentFormat": "markdown"
                    }
                },
                "runAfter": {
                    "Get_file_content": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each": {
                "type": "foreach",
                "foreach": "@outputs('Select_embeddings_and_map_to_CosmosDB')['body']",
                "actions": {
                    "Create_or_update_document_(V3)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "documentdb-2"
                                }
                            },
                            "method": "post",
                            "body": "@items('For_each')",
                            "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('CosmosDB_Account'))}/dbs/@{encodeURIComponent(parameters('CosmosDB_database'))}/colls/@{encodeURIComponent(parameters('CosmosDB_collection'))}/docs"
                        }
                    }
                },
                "runAfter": {
                    "Select_embeddings_and_map_to_CosmosDB": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_file_is_created_(properties_only)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sharepointonline"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('Sharepoint_Site_Address')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('Sharepoint_Library_Name')))}/onnewfileitems",
                    "queries": {
                        "folderPath": "@parameters('SharePoint_Folder_Path')"
                    }
                },
                "recurrence": {
                    "interval": 1,
                    "frequency": "Hour"
                },
                "splitOn": "@triggerBody()?['value']"
            }
        }
    },
    "kind": "stateful"
}