vectorize-sharepoint-aisearch-request/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
        "When_a_HTTP_request_is_received": {
            "type": "Request",
            "kind": "Http"
        }
    },
    "actions": {
        "Get_files_properties_for_all_items_in_the_library": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['sharepointonline_#workflowname#']['connectionId']"
                    }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharepointSiteAddress_#workflowname#')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('SharepointLibraryName_#workflowname#')))}/getfileitems"
            }
        },
        "For_each_item_in_the_library": {
            "foreach": "@body('Get_files_properties_for_all_items_in_the_library')?['value']",
            "actions": {
                "If_this_is_a_File": {
                    "actions": {
                        "Get_file_content": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepointonline_#workflowname#']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('SharepointSiteAddress_#workflowname#')))}/files/@{encodeURIComponent(item()?['{Identifier}'])}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Parse_a_document": {
                            "runAfter": {
                                "Get_file_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseDocument",
                            "inputs": {
                                "content": "@body('Get_file_content')"
                            }
                        },
                        "Chunk_text": {
                            "runAfter": {
                                "Parse_a_document": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ChunkText",
                            "inputs": {
                                "chunkingStrategy": "TokenSize",
                                "text": "@body('Parse_a_document')?['text']",
                                "encodingModel": "cl100k_base",
                                "tokenSize": 5000,
                                "pageOverlapLength": 0
                            }
                        },
                        "Azure_OpenAI_-_Get_multiple_embeddings": {
                            "runAfter": {
                                "Chunk_text": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureopenai_#workflowname#']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "input": "@body('Chunk_text')?['value']"
                                },
                                "path": "/deployments/@{encodeURIComponent(parameters('OpenAIModelDeployment_#workflowname#'))}/multipleEmbeddings",
                                "queries": {
                                    "api-version": "2023-05-15"
                                }
                            }
                        },
                        "Select_embeddings_and_map_to_Index": {
                            "runAfter": {
                                "Azure_OpenAI_-_Get_multiple_embeddings": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@range(0, length(body('Chunk_text')['value']))",
                                "select": {
                                    "chunk": "@{body('Chunk_text')['value'][item()]}",
                                    "title": "@{items('For_each_item_in_the_library')['{Name}']}",
                                    "text_vector": "@body('Azure_OpenAI_-_Get_multiple_embeddings')['embeddings'][item()]",
                                    "parent_id": "@{items('For_each_item_in_the_library')['{FullPath}']}",
                                    "chunk_id": "@{concat(items('For_each_item_in_the_library')['{Name}'], item())}"
                                }
                            }
                        },
                        "Index_multiple_documents": {
                            "runAfter": {
                                "Select_embeddings_and_map_to_Index": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureaisearch_#workflowname#']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@body('Select_embeddings_and_map_to_Index')",
                                "path": "/indexDocuments",
                                "queries": {
                                    "indexName": "@parameters('AISearchIndexName_#workflowname#')"
                                }
                            }
                        }
                    },
                    "else": {
                        "actions": {
                            "No_action_needed_for_Folder": {
                                "type": "Compose",
                                "inputs": "No action needed for Folder"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@items('For_each_item_in_the_library')['{IsFolder}']",
                                    false
                                ]
                            }
                        ]
                    },
                    "type": "If"
                }
            },
            "runAfter": {
                "Get_files_properties_for_all_items_in_the_library": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "outputs": {},
    "parameters": {
        "AISearchIndexName": {
            "defaultValue": "",
            "type": "String"
        },
        "OpenAIModelDeployment": {
            "defaultValue": "",
            "type": "String"
        },
        "SharepointSiteAddress": {
            "defaultValue": "",
            "type": "String"
        },
        "SharepointLibraryName": {
            "defaultValue": "",
            "type": "String"
        },
        "$connections": {
            "type": "Object",
            "defaultValue": {}
        }
    }
}