ingest-document-blob-openai-cosmos/default/workflow.json
{
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Chunk_text": {
                "type": "ChunkText",
                "inputs": {
                    "chunkingStrategy": "TokenSize",
                    "text": "@body('Parse_a_document')?['text']",
                    "EncodingModel": "cl100k_base",
                    "PageOverlapLength": 100,
                    "TokenSize": 512
                },
                "runAfter": {
                    "Parse_a_document": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_multiple_embeddings": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "deploymentId": "@parameters('OpenAI_TextEmbedding_Deployment_#workflowname#')",
                        "input": "@take(body('Chunk_text')?['value'], length(body('Chunk_text')['value']))"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "aoai-connection_#workflowname#",
                        "operationId": "getArrayEmbeddings",
                        "serviceProviderId": "/serviceProviders/openai"
                    }
                },
                "runAfter": {
                    "Chunk_text": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_a_document": {
                "type": "ParseDocument",
                "inputs": {
                    "content": "@body('Read_blob_content')?['content']"
                },
                "runAfter": {
                    "Read_blob_content": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Read_blob_content": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "@parameters('Blob_Path_#workflowname#')",
                        "blobName": "@triggerBody()?['name']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "blob-connection_#workflowname#",
                        "operationId": "readBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {}
            },
            "Select_embeddings_and_map_to_CosmosDB": {
                "type": "Select",
                "inputs": {
                    "from": "@range(0, length(body('Chunk_text')['value']))\r\n",
                    "select": {
                        "@{parameters('CosmosDB_Text_Path_#workflowname#')}": "@body('Chunk_text')['value'][item()]",
                        "documentName": "@triggerBody()?['name']",
                        "@{parameters('CosmosDB_Vector_Path_#workflowname#')}": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                        "sourceFile": "@triggerBody()?['name']",
                        "fileType": "@slice(triggerBody()?['name'],-3)",
                        "id": "@guid()",
                        "chunkNumber": "@add(item(),1)",
                        "totalChunks": "@ length(body('Chunk_text')['value'])"
                    }
                },
                "runAfter": {
                    "Get_multiple_embeddings": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each": {
                "type": "foreach",
                "foreach": "@outputs('Select_embeddings_and_map_to_CosmosDB')['body']",
                "actions": {
                    "Create_or_update_document_(V3)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "cosmosdb-connection_#workflowname#"
                                }
                            },
                            "method": "post",
                            "body": "@items('For_each')",
                            "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('CosmosDB_Account_#workflowname#'))}/dbs/@{encodeURIComponent(parameters('CosmosDB_Database_#workflowname#'))}/colls/@{encodeURIComponent(parameters('CosmosDB_Collection_#workflowname#'))}/docs"
                        }
                    }
                },
                "runAfter": {
                    "Select_embeddings_and_map_to_CosmosDB": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_blob_is_added_or_updated": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "path": "@parameters('Blob_Path_#workflowname#')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "blob-connection_#workflowname#",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "conditions": []
            }
        }
}