vectorize-azurequeue-aisearch-request/default/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
        "When_a_HTTP_request_is_received": {
            "type": "Request",
            "kind": "Http"
        }
    },
    "actions": {
        "For_each": {
            "foreach": "@body('Get_messages_from_the_queue')?['QueueMessagesList']?['QueueMessage']",
            "actions": {
                "Parse_a_document": {
                    "type": "ParseDocument",
                    "inputs": {
                        "content": "@item()?['MessageText']"
                    }
                },
                "Chunk_text": {
                    "runAfter": {
                        "Parse_a_document": [
                            "Succeeded"
                        ]
                    },
                    "type": "ChunkText",
                    "inputs": {
                        "chunkingStrategy": "TokenSize",
                        "text": "@body('Parse_a_document')?['text']",
                        "encodingModel": "cl100k_base",
                        "tokenSize": 5000,
                        "pageOverlapLength": 0
                    }
                },
                "Get_multiple_embeddings": {
                    "runAfter": {
                        "Chunk_text": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azureopenai_#workflowname#']['connectionId']"
                            }
                        },
                        "method": "post",
                        "body": {
                            "input": "@body('Chunk_text')?['value']"
                        },
                        "path": "/deployments/@{encodeURIComponent(parameters('OpenAIModel_#workflowname#'))}/multipleEmbeddings",
                        "queries": {
                            "api-version": "2023-05-15"
                        }
                    }
                },
                "Index_multiple_documents": {
                    "runAfter": {
                        "Select_embeddings_and_map_to_Index": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azureaisearch_#workflowname#']['connectionId']"
                            }
                        },
                        "method": "post",
                        "body": "@body('Select_embeddings_and_map_to_Index')",
                        "path": "/indexDocuments",
                        "queries": {
                            "indexName": "@parameters('AISearchIndexName_#workflowname#')"
                        }
                    }
                },
                "Select_embeddings_and_map_to_Index": {
                    "runAfter": {
                        "Get_multiple_embeddings": [
                            "Succeeded"
                        ]
                    },
                    "type": "Select",
                    "inputs": {
                        "from": "@range(0, length(body('Chunk_text')['value']))",
                        "select": {
                            "chunk": "@body('Chunk_text')['value'][item()]",
                            "title": "@items('For_each')?['MessageId']",
                            "text_vector": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                            "parent_id": "@items('For_each')?['MessageId']",
                            "chunk_id": "@concat(items('For_each')?['MessageId'], '_',  item())"
                        }
                    }
                }
            },
            "runAfter": {
                "Get_messages_from_the_queue": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        },
        "Get_messages_from_the_queue": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azurequeue_#workflowname#']['connectionId']"
                    }
                },
                "method": "get",
                "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(parameters('StorageAccountName_#workflowname#')))}/queues/@{encodeURIComponent(parameters('QueueName_#workflowname#'))}/messages",
                "queries": {
                    "numofmessages": "32"
                }
            }
        }
    }