ServiceBusTopicPeekLockAbandon/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
        "Abandon_the_message_in_a_topic_subscription": {
            "inputs": {
                "parameters": {
                    "lockToken": "@triggerBody()?['lockToken']",
                    "subscriptionName": "@parameters('subscriptionName_#workflowname#')",
                    "topicName": "@parameters('topicName_#workflowname#')"
                },
                "serviceProviderConfiguration": {
                    "connectionName": "serviceBus_#workflowname#",
                    "operationId": "abandonTopicMessageV2",
                    "serviceProviderId": "/serviceProviders/serviceBus"
                }
            },
            "runAfter": {
                "Compensation_Logic": [
                    "SUCCEEDED"
                ]
            },
            "type": "ServiceProvider"
        },
        "Compensation_Logic": {
            "inputs": "Replace this item with your compensation / exception handling logic",
            "runAfter": {
                "Scope": [
                    "TIMEDOUT",
                    "SKIPPED",
                    "FAILED"
                ]
            },
            "type": "Compose"
        },
        "Complete_the_message_in_a_topic_subscription": {
            "inputs": {
                "parameters": {
                    "lockToken": "@triggerBody()?['lockToken']",
                    "subscriptionName": "@parameters('subscriptionName_#workflowname#')",
                    "topicName": "@parameters('topicName_#workflowname#')"
                },
                "serviceProviderConfiguration": {
                    "connectionName": "serviceBus_#workflowname#",
                    "operationId": "completeTopicMessageV2",
                    "serviceProviderId": "/serviceProviders/serviceBus"
                }
            },
            "runAfter": {
                "Scope": [
                    "SUCCEEDED"
                ]
            },
            "type": "ServiceProvider"
        },
        "Scope": {
            "actions": {
                "Business_Logic": {
                    "inputs": "Replace this item with your business logic",
                    "type": "Compose"
                }
            },
            "runAfter": {},
            "type": "Scope"
        }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
        "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
            "inputs": {
                "parameters": {
                    "maxMessageBatchSize": "@parameters('messageBatchSize_#workflowname#')",
                    "subscriptionName": "@parameters('subscriptionName_#workflowname#')",
                    "topicName": "@parameters('topicName_#workflowname#')"
                },
                "serviceProviderConfiguration": {
                    "connectionName": "serviceBus_#workflowname#",
                    "operationId": "peekLockTopicMessagesV2",
                    "serviceProviderId": "/serviceProviders/serviceBus"
                }
            },
            "splitOn": "@triggerOutputs()?['body']",
            "type": "ServiceProvider"
        }
    }
}
