vectorize-azurefile-aisearch-schedule/default/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
        "Sliding_Window": {
            "recurrence": {
                "interval": 10,
                "frequency": "Minute",
                "startTime": "@parameters('StartTime_#workflowname#')"
            },
            "evaluatedRecurrence": {
                "interval": 10,
                "frequency": "Minute",
                "startTime": ""
            },
            "type": "SlidingWindow"
        }
    },
    "actions": {
        "Is_this_first_run": {
            "actions": {
                "Pick_all_files_for_indexing": {
                    "type": "SetVariable",
                    "inputs": {
                        "name": "FileList",
                        "value": "@body('List_files')?['value']"
                    }
                }
            },
            "runAfter": {
                "List_files": [
                    "Succeeded"
                ]
            },
            "else": {
                "actions": {
                    "Pick_only_new_or_updated_files": {
                        "runAfter": {
                            "Filter_list_and_pick_files_added_or_updated_in_the_time_window": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "FileList",
                            "value": "@body('Filter_list_and_pick_files_added_or_updated_in_the_time_window')"
                        }
                    },
                    "Filter_list_and_pick_files_added_or_updated_in_the_time_window": {
                        "type": "Query",
                        "inputs": {
                            "from": "@body('List_files')?['value']",
                            "where": "@greater(item()?['LastModified'],triggerOutputs()['windowStartTime'])"
                        }
                    }
                }
            },
            "expression": {
                "and": [
                    {
                        "equals": [
                            "@triggerOutputs()['sequenceNumber']",
                            0
                        ]
                    }
                ]
            },
            "type": "If"
        },
        "Initialize_variable_-_FileList": {
            "runAfter": {},
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "FileList",
                        "type": "array"
                    }
                ]
            }
        },
        "List_files": {
            "runAfter": {
                "Initialize_variable_-_FileList": [
                    "Succeeded"
                ]
            },
            "metadata": {
                "JTJmZGl2eWFwdWJsaWNmaWxlc2hhcmU=": "/divyapublicfileshare",
                "JTJmZGl2eWFwdWJsaWNmaWxlc2hhcmUlMmZhcnRpZmFjdHM=": "/divyapublicfileshare/artifacts"
            },
            "type": "ApiConnection",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['azurefile_#workflowname#']['connectionId']"
                    }
                },
                "method": "get",
                "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(parameters('FolderName_#workflowname#')))}",
                "queries": {
                    "nextPageMarker": "",
                    "useFlatListing": false
                }
            }
        },
        "For_each": {
            "foreach": "@variables('FileList')",
            "actions": {
                "Parse_a_document": {
                    "runAfter": {
                        "Get_file_content_using_path": [
                            "Succeeded"
                        ]
                    },
                    "type": "ParseDocument",
                    "inputs": {
                        "content": "@body('Get_file_content_using_path')"
                    }
                },
                "Chunk_text": {
                    "runAfter": {
                        "Parse_a_document": [
                            "Succeeded"
                        ]
                    },
                    "type": "ChunkText",
                    "inputs": {
                        "chunkingStrategy": "TokenSize",
                        "text": "@body('Parse_a_document')?['text']",
                        "encodingModel": "cl100k_base",
                        "tokenSize": 5000,
                        "pageOverlapLength": 0
                    }
                },
                "Get_multiple_embeddings": {
                    "runAfter": {
                        "Chunk_text": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azureopenai_#workflowname#']['connectionId']"
                            }
                        },
                        "method": "post",
                        "body": {
                            "input": "@body('Chunk_text')?['value']"
                        },
                        "path": "/deployments/@{encodeURIComponent(parameters('OpenAIModel_#workflowname#'))}/multipleEmbeddings",
                        "queries": {
                            "api-version": "2023-05-15"
                        }
                    }
                },
                "Index_multiple_documents": {
                    "runAfter": {
                        "Select_embeddings_and_map_to_Index": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azureaisearch_#workflowname#']['connectionId']"
                            }
                        },
                        "method": "post",
                        "body": "@body('Select_embeddings_and_map_to_Index')",
                        "path": "/indexDocuments",
                        "queries": {
                            "indexName": "@parameters('AISearchIndexName_#workflowname#')"
                        }
                    }
                },
                "Select_embeddings_and_map_to_Index": {
                    "runAfter": {
                        "Get_multiple_embeddings": [
                            "Succeeded"
                        ]
                    },
                    "type": "Select",
                    "inputs": {
                        "from": "@range(0, length(body('Chunk_text')['value']))",
                        "select": {
                            "chunk": "@{body('Chunk_text')['value'][item()]}",
                            "title": "@{items('For_each')?['DisplayName']}",
                            "text_vector": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                            "parent_id": "@{items('For_each')?['Path']}",
                            "chunk_id": "@{concat(substring(items('For_Each')?['DisplayName'], 0, indexOf(items('For_Each')?['DisplayName'], '.')), item())}"
                        }
                    }
                },
                "Get_file_content_using_path": {
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azurefile_#workflowname#']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/datasets/default/GetFileContentByPath",
                        "queries": {
                            "path": "@{item()?['Path']}",
                            "inferContentType": true,
                            "queryParametersSingleEncoded": true
                        }
                    }
                }
            },
            "runAfter": {
                "Is_this_first_run": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "outputs": {},
    "parameters": {
        "FolderName_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "AISearchIndexName_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "OpenAIModel_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "StartTime_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "$connections": {
            "type": "Object",
            "defaultValue": {}
        }
    }
}