SAP-BusinessPartner-Synch-Sharepoint-OData/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition_too_many_values": {
                "actions": {
                    "Terminate": {
                        "inputs": {
                            "runError": {
                                "code": "500",
                                "message": "Loop limit reached (@{add(div(variables('totalCountOfSAPBusinessPartners'),variables('odataTopValue')),1)} where current value is @{parameters('loopLimit_#workflowname#')}). Either adjust $top (@{variables('odataTopValue')}), or the raise loop limit. The max value is 5000."
                            },
                            "runStatus": "Failed"
                        },
                        "type": "Terminate"
                    }
                },
                "else": {
                    "actions": {
                        "Compose": {
                            "inputs": "@variables('resultset')",
                            "runAfter": {
                                "Until": [
                                    "SUCCEEDED"
                                ]
                            },
                            "type": "Compose"
                        },
                        "Create_or_Replace_file": {
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "host": {
                                    "connection": {
                                        "referenceName": "sharepointonline_#workflowname#"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://microsofteur.sharepoint.com/teams/',parameters('sharepoint-site-name_#workflowname#')))}/files",
                                "queries": {
                                    "folderPath": "@parameters('sharepoint-folder-path_#workflowname#')",
                                    "name": "@parameters('sharepoint-file-name_#workflowname#')",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runAfter": {
                                "Compose": [
                                    "SUCCEEDED"
                                ]
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            },
                            "type": "ApiConnection"
                        },
                        "Set_Sanity_Check": {
                            "inputs": {
                                "name": "AmountOfWrittenValues",
                                "value": "@length(variables('resultset'))"
                            },
                            "runAfter": {
                                "Create_or_Replace_file": [
                                    "SUCCEEDED"
                                ]
                            },
                            "type": "SetVariable"
                        },
                        "Until": {
                            "actions": {
                                "For_each": {
                                    "actions": {
                                        "Append_to_array_variable": {
                                            "inputs": {
                                                "name": "resultset",
                                                "value": {
                                                    "BusinessPartner": "@{item()['BusinessPartner']}",
                                                    "BusinessPartnerName": "@{item()?['BusinessPartnerName']}",
                                                    "TradingPartner": "@{item()?['TradingPartner']}"
                                                }
                                            },
                                            "type": "AppendToArrayVariable"
                                        }
                                    },
                                    "foreach": "@body('Query_SAP_Business_Partners')",
                                    "runAfter": {
                                        "Query_SAP_Business_Partners": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "foreach"
                                },
                                "Increment_skip_counter": {
                                    "inputs": {
                                        "name": "odataSkipCounter",
                                        "value": "@variables('odataTopValue')"
                                    },
                                    "runAfter": {
                                        "Set_current_resultset_length": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "IncrementVariable"
                                },
                                "Query_SAP_Business_Partners": {
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "referenceName": "sapodata_#workflowname#"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/getentitydata",
                                        "queries": {
                                            "entity": "A_BusinessPartner",
                                            "filter": "LastChangeDate ge datetime'@{variables('dateFilterWindow')}'",
                                            "select": "BusinessPartner,BusinessPartnerName,TradingPartner",
                                            "skip": "@variables('odataSkipCounter')",
                                            "top": "@variables('odataTopValue')"
                                        }
                                    },
                                    "type": "ApiConnection"
                                },
                                "Set_current_resultset_length": {
                                    "inputs": {
                                        "name": "currentResultSetLength",
                                        "value": "@length(body('Query_SAP_Business_Partners'))"
                                    },
                                    "runAfter": {
                                        "For_each": [
                                            "SUCCEEDED"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "expression": "@less(variables('currentResultSetLength'),variables('odataTopValue'))",
                            "limit": {
                                "count": "@parameters('loopLimit_#workflowname#')",
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@add(div(variables('totalCountOfSAPBusinessPartners'),variables('odataTopValue')),1)",
                                "@parameters('loopLimit_#workflowname#')"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_sanity_check": [
                        "SUCCEEDED"
                    ]
                },
                "type": "If"
            },
            "Get_total_count_of_SAP_Business_Partners": {
                "inputs": {
                    "headers": {
                        "APIKey": "@{parameters('odata-api-key_#workflowname#')}",
                        "Accept": "application/json"
                    },
                    "method": "GET",
                    "queries": {
                        "$filter": "LastChangeDate ge datetime'@{variables('dateFilterWindow')}'",
                        "$format": "json",
                        "$inlinecount": "allpages",
                        "$select": "BusinessPartner",
                        "$top": "1"
                    },
                    "uri": "https://sandbox.api.sap.com/s4hanacloud/sap/opu/odata/sap/API_BUSINESS_PARTNER/A_BusinessPartner"
                },
                "runAfter": {
                    "Initialize_LastChange_Filter": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Initialize_LastChange_Filter": {
                "inputs": {
                    "variables": [
                        {
                            "name": "dateFilterWindow",
                            "type": "string",
                            "value": "@{concat(formatDateTime(utcNow(), 'yyyy'),'-01-01T00:00:00')}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_resultset_list": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_current_result_length": {
                "inputs": {
                    "variables": [
                        {
                            "name": "currentResultSetLength",
                            "type": "integer",
                            "value": -1
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_odata_skip_counter": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_odata_skip_counter": {
                "inputs": {
                    "variables": [
                        {
                            "name": "odataSkipCounter",
                            "type": "integer",
                            "value": 0
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_odata_top": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_odata_top": {
                "inputs": {
                    "variables": [
                        {
                            "name": "odataTopValue",
                            "type": "integer",
                            "value": "@parameters('odataTopDefault_#workflowname#')"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_resultset_list": {
                "inputs": {
                    "variables": [
                        {
                            "name": "resultset",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_current_result_length": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_sanity_check": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AmountOfWrittenValues",
                            "type": "integer",
                            "value": -1
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_total_count_of_SAP_Business_Partners": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_total_count_of_SAP_Business_Partners": {
                "inputs": {
                    "variables": [
                        {
                            "name": "totalCountOfSAPBusinessPartners",
                            "type": "integer",
                            "value": "@int(body('Get_total_count_of_SAP_Business_Partners')?['d']?['__count'])"
                        }
                    ]
                },
                "runAfter": {
                    "Get_total_count_of_SAP_Business_Partners": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "kind": "Stateful"
}
