SAP-UserUnblock-SelfService-BAPI/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition_unlock_desired": {
                "actions": {
                    "Post_adaptive_card_to_M365_user_and_wait_for_a_response": {
                        "inputs": {
                            "body": {
                                "body": {
                                    "messageBody": "{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.2\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Enter the user name to unblock:\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Medium\"\n    },\n    {\n      \"type\": \"Input.Text\",\n      \"id\": \"userName\",\n      \"placeholder\": \"Enter User Name\",\n      \"errorMessage\": \"User Name is required\"\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.Submit\",\n      \"title\": \"Submit\",\n      \"data\": {\n        \"action\": \"submitUserName\"\n      }\n    }\n  ]\n}\n",
                                    "recipient": {
                                        "to": "@triggerBody()?['from']?['user']?['id']"
                                    },
                                    "updateMessage": "Thanks for your response!"
                                },
                                "notificationUrl": "@{listCallbackUrl()}"
                            },
                            "host": {
                                "connection": {
                                    "referenceName": "teams_#workflowname#"
                                }
                            },
                            "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions"
                        },
                        "type": "ApiConnectionWebhook"
                    }
                },
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerBody()?['body']?['content']",
                                "unlock"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            },
            "For_each": {
                "actions": {
                    "Post_response_in_a_chat_or_channel": {
                        "inputs": {
                            "body": {
                                "messageBody": "<p>\"User @{variables('userName')} unlock triggered.\" SAP response: @{items('For_each')?['MESSAGE']}</p>",
                                "recipient": "@triggerBody()?['from']?['user']?['id']"
                            },
                            "host": {
                                "connection": {
                                    "referenceName": "teams_#workflowname#"
                                }
                            },
                            "method": "post",
                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@outputs('[RFC]_Call_BAPI_USER_UNLOCK_with_SAP_user_name')?['body']?['content']?['RETURN']",
                "runAfter": {
                    "[RFC]_Call_BAPI_USER_UNLOCK_with_SAP_user_name": [
                        "SUCCEEDED"
                    ]
                },
                "type": "foreach"
            },
            "Initialize_user_name_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "userName",
                            "type": "string",
                            "value": "@body('Post_adaptive_card_to_M365_user_and_wait_for_a_response')?['data']?['userName']"
                        }
                    ]
                },
                "runAfter": {
                    "Condition_unlock_desired": [
                        "SUCCEEDED"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Post_error_message_in_a_chat_or_channel": {
                "inputs": {
                    "body": {
                        "isAlert": true,
                        "messageBody": "<p>\"Unblock User @{variables('userName')} has failed!\" </p>",
                        "recipient": "@triggerBody()?['from']?['user']?['id']"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "teams_#workflowname#"
                        }
                    },
                    "method": "post",
                    "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}"
                },
                "runAfter": {
                    "[RFC]_Call_BAPI_USER_UNLOCK_with_SAP_user_name": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                },
                "type": "ApiConnection"
            },
            "[RFC]_Call_BAPI_USER_UNLOCK_with_SAP_user_name": {
                "inputs": {
                    "parameters": {
                        "autoCommit": true,
                        "body": {
                            "RETURN": [],
                            "USERNAME": "@{variables('userName')}"
                        },
                        "inputBodyType": "JSON",
                        "outputBodyType": "JSON",
                        "rfcName": "BAPI_USER_UNLOCK"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sap_#workflowname#",
                        "operationId": "callRfc",
                        "serviceProviderId": "/serviceProviders/sap"
                    }
                },
                "runAfter": {
                    "Initialize_user_name_variable": [
                        "SUCCEEDED"
                    ]
                },
                "type": "ServiceProvider"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_new_\"unlock_user\"_message_is_added_in_Teams_Channel": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "teams_#workflowname#"
                        }
                    },
                    "method": "get",
                    "path": "/trigger/beta/teams/@{encodeURIComponent(parameters('TeamsTeamID'))}/channels/@{encodeURIComponent(parameters('TeamsChannelID'))}/messages",
                    "queries": {
                        "$top": 50
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "kind": "Stateful"
}