vectorize-amazons3-aisearch-request/default/workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
        "When_a_HTTP_request_is_received": {
            "type": "Request",
            "kind": "Http"
        }
    },
    "actions": {
        "List_S3_objects": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['amazons3_#workflowname#']['connectionId']"
                    }
                },
                "method": "get",
                "path": "/buckets/objects",
                "queries": {
                    "bucketName": "@parameters('BucketName_#workflowname#')",
                    "maxObjectCount": 100
                }
            }
        },
        "For_each_item_in_the_S3_object": {
            "foreach": "@body('List_S3_objects')?['value']",
            "actions": {
                "Get_S3_object_content": {
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['amazons3_#workflowname#']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/buckets/objects/content",
                        "queries": {
                            "bucketName": "@parameters('BucketName_#workflowname#')",
                            "objectKey": "@items('For_each_item_in_the_S3_object')?['key']"
                        }
                    }
                },
                "Is_this_a_folder": {
                    "actions": {
                        "This_is_a_folder": {
                            "type": "Compose",
                            "inputs": "Folder"
                        }
                    },
                    "runAfter": {
                        "Get_S3_object_content": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Parse_a_document": {
                                "type": "ParseDocument",
                                "inputs": {
                                    "content": "@body('Get_S3_object_content')"
                                }
                            },
                            "Chunk_text": {
                                "runAfter": {
                                    "Parse_a_document": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ChunkText",
                                "inputs": {
                                    "chunkingStrategy": "TokenSize",
                                    "text": "@body('Parse_a_document')?['text']",
                                    "encodingModel": "cl100k_base",
                                    "tokenSize": 512,
                                    "pageOverlapLength": 100
                                }
                            },
                            "Get_multiple_embeddings": {
                                "runAfter": {
                                    "Chunk_text": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureopenai_#workflowname#']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "input": "@body('Chunk_text')?['value']"
                                    },
                                    "path": "/deployments/@{encodeURIComponent(parameters('OpenAIModel_#workflowname#'))}/multipleEmbeddings",
                                    "queries": {
                                        "api-version": "2023-05-15"
                                    }
                                }
                            },
                            "Select_embeddings_and_map_to_Index": {
                                "runAfter": {
                                    "Get_multiple_embeddings": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Select",
                                "inputs": {
                                    "from": "@range(0, length(body('Chunk_text')['value']))",
                                    "select": {
                                        "chunk": "@body('Chunk_text')['value'][item()]",
                                        "title": "@items('For_each_item_in_the_S3_object')?['key']",
                                        "text_vector": "@body('Get_multiple_embeddings')['embeddings'][item()]",
                                        "parent_id": "@items('For_each_item_in_the_S3_object')?['key']",
                                        "chunk_id": "@replace(concat(substring(items('For_each_item_in_the_S3_object')?['key'], 0, indexOf(items('For_each_item_in_the_S3_object')?['key'], '.')), item()), '/', '_')"
                                    }
                                }
                            },
                            "Index_multiple_documents": {
                                "runAfter": {
                                    "Select_embeddings_and_map_to_Index": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureaisearch_#workflowname#']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": "@body('Select_embeddings_and_map_to_Index')",
                                    "path": "/indexDocuments",
                                    "queries": {
                                        "indexName": "@parameters('AISearchIndexName_#workflowname#')"
                                    }
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@item()?['size']",
                                    0
                                ]
                            }
                        ]
                    },
                    "type": "If"
                }
            },
            "runAfter": {
                "List_S3_objects": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "outputs": {},
    "parameters": {
        "BucketName_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "AISearchIndexName_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "OpenAIModel_#workflowname#": {
            "defaultValue": "",
            "type": "String"
        },
        "$connections": {
            "type": "Object",
            "defaultValue": {}
        }
    }
}